@import url('app/styles/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 80px;
}

@layer utilities {
  .shadow-text-custom-green {
    text-shadow: 0px 0px 20px #43d18a;
  }
}

body {
  padding: 0;
  margin: 0;
  @apply bg-bg-primary text-white font-default;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition:
    opacity 300ms,
    transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}
